
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: rgb(144, 89, 89);
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

nav :link {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}

li,button{
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

button{
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  border-radius: 50px;
  padding: 9px 25px;
}

nav li a:hover{
  color: aqua;
  transition: all 0.4s ease 0s;
}

button:hover{
  background-color: aqua;
  transition: all 0.4s ease 0s;
}

@media (max-width: 768px) {
  .header {
    padding: 1.3rem 5%;
  }

  nav li {
    padding: 5px; /* Adjust padding for smaller screens */
  }

  button {
    padding: 9px 15px;
  }
}

